<p>Listado</p>
<ul [formGroup]="todoListGroup" class="todo__list">
  <li *ngFor="let item of tasks; let i = index">
    <app-checkbox formControlName="checkboxStatus" (click)="updateTask(i)"></app-checkbox>
    <span>
      <p>{{i+1}}: </p>
      <p>{{item?.getTitle}}</p> -
      <p>{{item?.getDescription}} - 
      <p>Estado: {{item?.getStatus ? 'Completado ' : 'Pendiente '}}</p>
    </span>
    <span (click)="deleteTask(i)">Eliminar</span> - 
    <span (click)="editTask(i)">Editar</span>
  </li>
</ul>
